@use '../../styles/mixin.scss' as *;

.m-card {
  cursor: pointer;
  margin-bottom: 8px;
  transition: all .2s;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  .m-card-body {
    padding: 14px 12px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .card-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
  }

  .card-title {
    font-size: 14px;
    font-weight: 600;
    color: #1f2a3d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    max-width: 120px;
  }

  .action-icon {
    font-size: 14px;
  }
  .action-icon.active {
    color: #faad14;
  }
}
