@use '../../styles/mixin.scss' as *;

.breadcrumb-container {
  .yapi-breadcrumb {
    font-size: 16px;
    float: left;
    color: #fff;
    padding-left: 16px;
    line-height: unset;
  }

  .yapi-breadcrumb span,
  .yapi-breadcrumb a {
    color: inherit;
  }

  .yapi-breadcrumb a:hover {
    color: $color-blue;
  }

  .yapi-breadcrumb li:last-child,
  .yapi-breadcrumb li:last-child a {
    font-weight: normal;
  }
}
