@use '../../styles/mixin.scss' as *;

.breadcrumb-container {
  .ant-breadcrumb {
    font-size: 16px;
    float: left;
    color: #fff;
    padding-left: 16px;
    line-height: unset;
  
  }
  .ant-breadcrumb a {
    color: #fff;
    &:hover {
      color: $color-blue
    }
  }
  .ant-breadcrumb > span:last-child {
    color: #fff;
    font-weight: normal;
  }
  .ant-breadcrumb-link,
  .ant-breadcrumb-link > a {
    color: #fff !important;
  }
  .ant-breadcrumb-separator {
    color: #fff;
    font-weight: normal;
  }
}
