@import (inline) 'antd/dist/reset.css';

:root {
  --yapi-primary: #2395f1;
  --yapi-success: #57cf27;
  --yapi-error: #ff561b;
  --yapi-warning: #fac200;
  --yapi-text: #0d1b3e;
  --yapi-bg: #eceef1;
}

body {
  background: var(--yapi-bg);
  color: var(--yapi-text);
}

a {
  color: var(--yapi-primary);
}

a:hover {
  color: #0f78c6;
}
