@use '../../styles/mixin.scss' as *;

.nav-tooltip {
  color: red;
}

.user-menu.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #32363a;
  color: rgba(255, 255, 255, 0.67);
}
.user-menu.ant-menu-dark .ant-menu-item-selected > a {
  color: rgba(255, 255, 255, 0.67);
}
.user-menu .ant-dropdown-menu-title-content .anticon {
  margin-right: 6px;
}

/* .header-box.css */
.header-box {
  height: .64rem;
  line-height: .64rem;
  padding: 0 16px;
  background: #2f3540;
  border-bottom: 1px solid #3a414c;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  .logo {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: .64rem;
    height: .64rem;
    width: 64px;
    border-right: 1px solid #3a414c;
    border-left: 1px solid #3a414c;
    background-color: transparent;
    transition: all .2s;
    &:hover{
      background-color: #3c4552;
    }
    .href {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
    .img {
      position: static;
      transform: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;
    }
    .img svg {
      width: 32px;
      height: 32px;
      display: block;
    }
    .ui-badge {
      position: absolute;
      right: -18px;
      top: 6px;
      width: 30px;
      height: 21px;
      background-size: 236px 21px;
      background-repeat: no-repeat;
      background-image: none;
    }
    // &:before, &:after {
    //   content: '';
    //   display: block;
    //   width: 2px;
    //   height: .56rem;
    //   background-color: #222;
    //   border-left: 1px solid #575D67;
    //   position: relative;
    //   top: 0;
    // }
    // &:before {
    //   float: left;
    //   left: -.08rem;
    // }
    // &:after {
    //   float: right;
    //   right: -.27rem;
    // }
  }

  .nav-toolbar {
    font-size: .15rem;
    float: left;

  }
  .user-menu{
    margin-top: 20px;
  }
  .user-toolbar{
    float: right;
    height: .64rem;
    display: flex;
    align-items: center;
    .toolbar-li{
      float: left;
      font-size: .14rem;
      cursor: pointer;
      color: #c8d2e1;
      margin-left: .16rem;
      transition: color .2s;
      & a {
        color: #c8d2e1;
      }
      .dropdown-link {
        color: #c8d2e1;
        transition: color .2s;
        // .ant-avatar-image{
        //   margin-bottom: -10px;
        // }
        // .ant-avatar > img{
        //   height: auto;
        // }
        .avatar-image{
          margin-bottom: -10px;
          display: inline-block;
          text-align: center;
          background: #4a5363;
          color: #fff;
          white-space: nowrap;
          position: relative;
          overflow: hidden;
          width: 32px;
          height: 32px;
          line-height: 0;
          border-radius: 16px;
        }

        .avatar-image > img{
          height: auto;
          width:100%;
          display: bloack;
        }

      }
      .anticon.active {
        color: #2395f1;
      }
      &:hover{
        .dropdown-link {
          color: #2395f1;
        }
      }
      .name {
        margin-left: .08rem;
      }
    }
    .toolbar-li.item-search{
      display: flex;
      align-items: center;
      height: .64rem;
      width: 180px;
      flex: 0 0 180px;
      margin-left: 0;
      margin-right: .16rem;
    }
  }
}
