@use '../../styles/mixin.scss' as *;

.g-doc {
  @include row-width-limit;
  margin: 0 auto .24rem;
}
.news-box .news-timeline .ant-timeline-item .ant-timeline-item-content{
  min-width: 300px !important;
  width: 75% !important;
}
